.dash {
    height: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #818181;
    flex: none;
    order: 0;
    flex-grow: 0;
}