<section class="px-6 sm:px-12 lg:px-12 xl:px-12 2xl:px-12 py-4 bg-gray-900 text-white">
  <div
    class="grid sm:grid-cols-2 grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-x-6 border-b-2 border-white">
    <div class="w-full items-center justify-center p-6">
      <div class="flex flex-row gap-x-4 items-center justify-center">
        <div class="flex items-center justify-center"> <i class="fa-solid fa-map-location-dot fa-2xl"></i> </div>
        <div class="flex flex-col">
          <span>Find Us</span>
          <span class="cursor-pointer">{{masterData?.address}}</span>
        </div>
      </div>
    </div>

    <div class="w-full items-center justify-center p-6">
      <div class="flex flex-row gap-x-4 items-center justify-center">
        <div class="flex items-center justify-center"> <i class="fa-solid fa-phone-volume fa-2xl"></i> </div>
        <div class="flex flex-col">
          <span>Call Us</span>
          <span class="cursor-pointer">{{masterData?.contact}}</span>
        </div>
      </div>
    </div>

    <div class="w-full items-center justify-center p-6">
      <div class="flex flex-row gap-x-4 items-center justify-center">
        <div class="flex items-center justify-center"> <i class="fa-solid fa-paper-plane fa-2xl"></i> </div>
        <div class="flex flex-col">
          <span>Mail Us</span>
          <span class="cursor-pointer">{{masterData?.email}}</span>
        </div>
      </div>
    </div>
  </div>

  <div
    class="p-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 gap-6 border-b-2 border-white">
    <div class="pt-4">
      <div class="logo">
        <img [src]="imageEnvironmentUrl+masterData?.logo" class="w-40 h-20" />
      </div>
      <div class="text-xl pt-2">
        {{masterData?.footerBio}}
      </div>
      <div class="pt-4 pb-8">
        <span class="text-xl">Follow Us On</span>
      </div>
      <div class="flex flex-row gap-x-6 ">
        <span class="cursor-pointer" (click)="goto(masterData?.facebookLink)"><i
            class="fa-brands fa-facebook fa-2xl"></i></span>
        <span class="cursor-pointer" (click)="goto(masterData?.instagramLink)"><i
            class="fa-brands fa-instagram fa-2xl"></i></span>
        <span class="cursor-pointer" (click)="goto(masterData?.youtubeLink)"><i
            class="fa-brands fa-youtube fa-2xl"></i></span>
      </div>
    </div>

    <div class="flex flex-col lg:items-center xl:items-center 2xl:items-center gap-6 pt-4">
      <div
        class="flex lg:justify-center xl:justify-center 2xl:justify-center lg:items-center xl:items-center 2xl:items-center">
        <span class="border-b border-white text-xl lg:text-center xl:text-center 2xl:text-center">Useful Link</span>
      </div>
      <div class="flex flex-col gap-x-4">
        <span class="cursor-pointer text-lg">Home</span>
        <span class="cursor-pointer text-lg">Package</span>
        <span class="cursor-pointer text-lg">Blogs</span>
        <span class="cursor-pointer text-lg">Travel Guide</span>
        <span class="cursor-pointer text-lg">Gallery</span>
        <span class="cursor-pointer text-lg">Contact</span>
      </div>
    </div>

    <div class="flex flex-col  gap-y-6 pt-4">
      <div class="flex"><span class="border-b border-white text-xl">Subscribe</span></div>
      <div class="flex flex-col gap-x-4">
        <span class="text-xl">
          Don’t miss to subscribe to our new feeds and get notiied about latest trips and discount.
        </span>
        <span class="flex flex-col gap-y-4 pt-4" [formGroup]="subscriptionForm">
          <input type="text" placeholder="Name" class="w-full h-[40px] p-4 rounded-xl text-black border border-white"
            formControlName="name" />
          <input type="text" placeholder="Email" class="w-full h-[40px] p-4 rounded-xl text-black border border-white"
            formControlName="email" />
          <button
            class="w-full px-4 py-2 flex items-center justify-center bg-gray-100 rounded-xl text-gray-900 font-semibold text-2xl"
            (click)="submit()">
            Subscribe
          </button>
        </span>
      </div>
    </div>


  </div>

  <div class="p-6 text-white">
    © Elpaso Adventure (P) Ltd.2003-2023 All Rights Reserved.
  </div>

</section>