<div class="flex flex-row justify-between relative">
  <div class="job-top-image flex-1">
    <div class="area">
      <div *ngIf="userDetails?.image != '' ">
        <img [src]="imageEnvironmentUrl+userDetails?.image" alt="">
      </div>
      <div *ngIf="userDetails?.image == '' ">
        <img src="assets/images/01.png" alt="">
      </div>
      <div class="about">
        <h2>{{userDetails?.username | titlecase}}</h2>
        <p>{{userDetails?.profession | titlecase}}</p>
      </div>
    </div>

  </div>
  <div class="flex-0 flex justify-end absolute top-0 right-0 p-2">
    <button class="px-4 py-2 bg-blue-600 text-white rounded-lg" (click)="openProfile()">Update Profile</button>
  </div>
</div>

<div class="profile-body overflow-auto">


  <div class="body-main">
    <h3>About me</h3>
    <p>{{userDetails?.aboutMe}}</p>
    <div class="py-2">
      <span class="font-semibold pr-2"> Email :</span>{{userDetails?.email}}
    </div>
    <div class="py-2">
      <span class="font-semibold pr-2">Contact Number :</span>{{userDetails?.contactNumber}}
    </div>
    <div class="py-2">
      <span class="font-semibold pr-2">Address :</span>{{userDetails?.address}}
    </div>


    <div class="work-heading  justify-between">

      <div class="flex flex-row items-center gap-x-2">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_297_50033)">
            <path
              d="M31 8H23V10H31V31H23V33H33V10C33 9.46957 32.7893 8.96086 32.4142 8.58579C32.0391 8.21071 31.5304 8 31 8Z"
              fill="#3563E9" />
            <path
              d="M19.88 3H6.12C5.55774 3 5.01851 3.22336 4.62093 3.62093C4.22336 4.01851 4 4.55774 4 5.12V33H22V5.12C22 4.55774 21.7766 4.01851 21.3791 3.62093C20.9815 3.22336 20.4423 3 19.88 3ZM20 31H17V28H9V31H6V5.12C6 5.10424 6.0031 5.08864 6.00913 5.07408C6.01516 5.05952 6.024 5.04629 6.03515 5.03515C6.04629 5.024 6.05952 5.01516 6.07408 5.00913C6.08864 5.0031 6.10424 5 6.12 5H19.88C19.8958 5 19.9114 5.0031 19.9259 5.00913C19.9405 5.01516 19.9537 5.024 19.9649 5.03515C19.976 5.04629 19.9848 5.05952 19.9909 5.07408C19.9969 5.08864 20 5.10424 20 5.12V31Z"
              fill="#3563E9" />
            <path d="M8 8H10V10H8V8Z" fill="#3563E9" />
            <path d="M12 8H14V10H12V8Z" fill="#3563E9" />
            <path d="M16 8H18V10H16V8Z" fill="#3563E9" />
            <path d="M8 13H10V15H8V13Z" fill="#3563E9" />
            <path d="M12 13H14V15H12V13Z" fill="#3563E9" />
            <path d="M16 13H18V15H16V13Z" fill="#3563E9" />
            <path d="M8 18H10V20H8V18Z" fill="#3563E9" />
            <path d="M12 18H14V20H12V18Z" fill="#3563E9" />
            <path d="M16 18H18V20H16V18Z" fill="#3563E9" />
            <path d="M8 23H10V25H8V23Z" fill="#3563E9" />
            <path d="M12 23H14V25H12V23Z" fill="#3563E9" />
            <path d="M16 23H18V25H16V23Z" fill="#3563E9" />
            <path d="M23 13H25V15H23V13Z" fill="#3563E9" />
            <path d="M27 13H29V15H27V13Z" fill="#3563E9" />
            <path d="M23 18H25V20H23C23 20 22.4477 18.5523 23 18Z" fill="#3563E9" />
            <path d="M27 18H29V20H27V18Z" fill="#3563E9" />
            <path d="M23 23H25V25H23V23Z" fill="#3563E9" />
            <path d="M27 23H29V25H27V23Z" fill="#3563E9" />
          </g>
          <defs>
            <clipPath id="clip0_297_50033">
              <rect width="36" height="36" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <h4 class="work-title" style="font-weight: 500;">
          Booking History and enquiry
        </h4>
      </div>
      <div>
        <button class="px-4 py-2 bg-blue-600 text-white rounded-lg" routerLink="/package">Book a trip</button>
      </div>
    </div>

    <div class="p-4">
      <ng-container *ngIf="bookingList.length !=0">
        <span class="text-lg underline">Your Booking</span>
        <div class="grid grid-cols-2 gap-2 p-2 ">
          <div *ngFor="let data of bookingList">
            <div class="flex flex-col bg-gray-50 p-2 rounded-lg">
              <div class="flex justify-end">
                <button class="px-4 py-2 text-white rounded-lg" [disabled]="data.status == 1"  (click)="deleteBooking(data._id)"><img
                    src="assets/images/trash.png" class="w-5 h-5" /></button>
              </div>
              <span>Name: {{data?.packageName}}</span>
              <span>Price: {{data?.price}}</span>
              <span>Person Count: {{data?.totalTraveller}}</span>
              <span>Date: {{data?.date | date: 'dd/MM/yyyy' }}</span>
              <div class="flex flex-row gap-x-2 items-center col-span-2">
                <span>Status:</span> <span *ngIf="data.status == 0"
                  class="bg-blue-600 text-white px-1 rounded">Pending</span>
                <span *ngIf="data.status == 1" class="bg-green-600 text-white px-1 rounded">Approved</span>
                <span *ngIf="data.status == 2" class="bg-red-600 text-white px-1 rounded">Rejected</span>
              </div>
              <span *ngIf="data.status != 0" class="text-xs" >Please check your registered mail</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="enquiryList.length !=0">
        <span class="text-lg underline">Your Query</span>
        <div class="grid grid-cols-2 gap-2 p-2">
          <div *ngFor="let data of enquiryList">
            <div class="flex flex-col bg-gray-50 p-2 rounded-lg">
              <div class="flex justify-end">
                <button class="px-4 py-2 text-white rounded-lg" (click)="deleteEnquiry(data._id)"><img
                    src="assets/images/trash.png" class="w-5 h-5" /></button>
              </div>
              <span>Name: {{data?.packageName}}</span>
              <span>Price: {{data?.expectedPrice}}</span>
              <span>Person Count: {{data?.totalTraveller}}</span>
              <span>Date: {{data?.date | date: 'dd/MM/yyyy' }}</span>
              <div class="flex flex-row gap-x-2 items-center col-span-2">
                <span>Status:</span> <span *ngIf="data.status == 0"
                  class="bg-blue-600 text-white px-1 rounded">Pending</span>
                <span *ngIf="data.status == 1" class="bg-green-600 text-white px-1 rounded">Responded</span>
              </div>
              <span *ngIf="data.status == 1" class="text-xs" >Please check your registered mail</span>

            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="work-heading flex flex-row justify-between">
      <div class="flex flex-row gap-x-2 items-center">
        <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M24 9H18V3C17.9992 2.20459 17.6829 1.44199 17.1204 0.879557C16.558 0.31712 15.7954 0.000794215 15 0H12.867C12.3862 0.00204124 11.922 0.176397 11.5587 0.491426C11.1954 0.806456 10.9571 1.24128 10.887 1.717L10.042 7.634L6.465 13H0V27H21C22.8559 26.9979 24.6351 26.2597 25.9474 24.9474C27.2597 23.6351 27.9979 21.8559 28 20V13C27.9987 11.9395 27.5768 10.9229 26.827 10.173C26.0771 9.42318 25.0605 9.00132 24 9ZM6 25H2V15H6V25ZM26 20C25.9984 21.3256 25.4711 22.5964 24.5338 23.5338C23.5964 24.4711 22.3256 24.9984 21 25H8V14.303L11.958 8.366L12.868 2H15C15.2652 2 15.5196 2.10536 15.7071 2.29289C15.8946 2.48043 16 2.73478 16 3V11H24C24.5303 11.0005 25.0387 11.2114 25.4136 11.5864C25.7886 11.9613 25.9995 12.4697 26 13V20Z"
            fill="#3563E9" />
        </svg>
        <h4 class="work-title" style="font-weight: 500;">
          Blog post history
        </h4>
      </div>
      <div>
        <button class="px-4 py-2 bg-blue-600 text-white rounded-lg" (click)="openBlogPopup()">Create a blog</button>
      </div>
    </div>

    <div class="pt-2 grid grid-cols-1 gap-2">
      <div *ngFor="let data of blogList" class="rounded flex flex-col gap-y-4 bg-gray-200 p-4 relative">

        <div class="flex flex-row justify-between items-center">
          <div class="flex flex-row items-center gap-x-2">
            <div>
              <img [src]="imageEnvironmentUrl+data?.author?.image" class="w-14 h-14 rounded-full" />
            </div>
            <div class="flex flex-col">
              <div>
                {{data.author.name | titlecase}}
              </div>
              <div>
                {{data.author.profession | titlecase}}
              </div>
              <div class="text-xs">
                {{data.createdon | date: 'dd/MM/yyyy'}}
              </div>
            </div>
          </div>
          <div class="flex flex-row gap-x-2 justify-end">
            <span class="flex gap-x-2 " matTooltip="Total Views"> <img src="assets/images/visiblity.png"
                class="w-4 h-4 mt-[4px] text-xs" />
              {{data.views}} </span>
            <span class="bg-white rouned-full flex items-center justify-center" matTooltip="Preview"
              [routerLink]="['/blog-preview',data._id]" class="cursor-pointer">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.4"
                  d="M17.7084 7.62409C15.7834 4.59909 12.9667 2.85742 10 2.85742C8.51669 2.85742 7.07502 3.29076 5.75835 4.09909C4.44169 4.91576 3.25835 6.10742 2.29169 7.62409C1.45835 8.93242 1.45835 11.0574 2.29169 12.3658C4.21669 15.3991 7.03335 17.1324 10 17.1324C11.4834 17.1324 12.925 16.6991 14.2417 15.8908C15.5584 15.0741 16.7417 13.8824 17.7084 12.3658C18.5417 11.0658 18.5417 8.93242 17.7084 7.62409ZM10 13.3658C8.13335 13.3658 6.63335 11.8574 6.63335 9.99909C6.63335 8.14076 8.13335 6.63242 10 6.63242C11.8667 6.63242 13.3667 8.14076 13.3667 9.99909C13.3667 11.8574 11.8667 13.3658 10 13.3658Z"
                  fill="#4D4D4D" />
                <path
                  d="M10 7.61719C8.69167 7.61719 7.625 8.68385 7.625 10.0005C7.625 11.3089 8.69167 12.3755 10 12.3755C11.3083 12.3755 12.3833 11.3089 12.3833 10.0005C12.3833 8.69219 11.3083 7.61719 10 7.61719Z"
                  fill="#4D4D4D" />
              </svg>
            </span>

            <span class="bg-white rouned-full flex items-center justify-center" matTooltip="Edit" class="cursor-pointer"
              (click)="openBlogPopup(data)">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.4"
                  d="M17.5 18.333H2.5C2.15833 18.333 1.875 18.0497 1.875 17.708C1.875 17.3663 2.15833 17.083 2.5 17.083H17.5C17.8417 17.083 18.125 17.3663 18.125 17.708C18.125 18.0497 17.8417 18.333 17.5 18.333Z"
                  fill="#292D32" />
                <path opacity="0.4"
                  d="M15.85 2.90005C14.2333 1.28338 12.65 1.24172 10.9917 2.90005L9.98333 3.90838C9.9 3.99172 9.86666 4.12505 9.9 4.24172C10.5333 6.45005 12.3 8.21672 14.5083 8.85005C14.5417 8.85838 14.575 8.86672 14.6083 8.86672C14.7 8.86672 14.7833 8.83338 14.85 8.76672L15.85 7.75838C16.675 6.94172 17.075 6.15005 17.075 5.35005C17.0833 4.52505 16.6833 3.72505 15.85 2.90005Z"
                  fill="#292D32" />
                <path
                  d="M13.0083 9.60866C12.7667 9.49199 12.5333 9.37533 12.3083 9.24199C12.125 9.13366 11.95 9.01699 11.775 8.89199C11.6333 8.80033 11.4667 8.66699 11.3083 8.53366C11.2917 8.52533 11.2333 8.47533 11.1667 8.40866C10.8917 8.17533 10.5833 7.87533 10.3083 7.54199C10.2833 7.52533 10.2417 7.46699 10.1833 7.39199C10.1 7.29199 9.95833 7.12532 9.83333 6.93366C9.73333 6.80866 9.61666 6.62533 9.50833 6.44199C9.375 6.21699 9.25833 5.99199 9.14166 5.75866C9.025 5.50866 8.93333 5.26699 8.85 5.04199L3.61666 10.2753C3.50833 10.3837 3.40833 10.592 3.38333 10.7337L2.93333 13.9253C2.85 14.492 3.00833 15.0253 3.35833 15.3837C3.65833 15.6753 4.075 15.8337 4.525 15.8337C4.625 15.8337 4.725 15.8253 4.825 15.8087L8.025 15.3587C8.175 15.3337 8.38333 15.2337 8.48333 15.1253L13.7167 9.89199C13.4833 9.80866 13.2583 9.71699 13.0083 9.60866Z"
                  fill="#292D32" />
              </svg>
            </span>
            <div class="bg-white rouned-full cursor-pointer flex items-center justify-center" class=""
              matTooltip="Delete Trip" (click)="deleteBog(data._id)">
              <img src="assets/images/trash.png" class="w-5 h-5" />
            </div>
          </div>
        </div>

        <div class="w-full h-[400px] ">
          <img class="w-full h-full object-fit rounded-lg" [src]="imageEnvironmentUrl+data?.image" alt="" />
        </div>
        <div class="">
          {{data.name | titlecase}}
        </div>
      </div>
    </div>
  </div>
  <div class="body-detail">
    <div class="offer-area">
      <div class="rates">
        <h2>{{userDetails?.tripsCompleted}}</h2>
        <p>Trips Completed</p>
      </div>
      <div class="rates">
        <h2>{{userDetails?.blogPosted}}</h2>
        <p>Blog posted</p>
      </div>
    </div>
  </div>
</div>